<div class="row margin-top-10">
  <div class="col-md-12 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject theme-font bold uppercase">Exibir Classroom</span>
        </div>
        <div class="actions">
          <%= link_to raw('<i class="fa fa-edit"></i> Editar'), edit_classroom_path(@classroom), class:"btn btn-xs yellow" %>
          <%= link_to  raw('<i class="fa fa-reply"></i> Voltar'), classrooms_path, class:"btn btn-xs red"%>
        </div>
      </div>
      <div class="portlet-body">
                    <p>
              <strong>Student:</strong>
              <%= @classroom.student.name %>
            </p>
                    <p>
              <strong>Course:</strong>
              <%= @classroom.course.name %>
            </p>
                    <p>
              <strong>Entry at:</strong>
              <%= @classroom.entry_at.strftime('%d/%m/%y %H:%M') if @classroom.entry_at %>
            </p>
              </div>
    </div>
    <!-- END PORTLET-->
  </div>
</div>


