<%= form_for(student,  :html => {:onsubmit=>"return validarCampos();", :class => 'form-horizontal'}) do |f|%>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2>Não foi possível salvar student:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="portlet-body form form-horizontal">
    <div class="form-body">
      <div class="row">
        
                        <div class="col-md-6">
                <div class="form-group">
                <%= f.label :name, :class => 'control-label col-md-3' %>
                <div class="col-md-9">
                  <%= f.text_field :name,:class => 'form-control' %>
                </div>
              </div>
            </div>
                    
                        <div class="col-md-6">
                <div class="form-group">
                <%= f.label :register_number, :class => 'control-label col-md-3' %>
                <div class="col-md-9">
                  <%= f.text_field :register_number,:class => 'form-control' %>
                </div>
              </div>
            </div>
                    
                        <div class="col-md-6">
                <div class="form-group">
                <%= f.label :status, :class => 'control-label col-md-3' %>
                <div class="col-md-9">
                  <%= f.text_field :status,:class => 'form-control' %>
                </div>
              </div>
            </div>
                            </div>
    </div>
</div>

<div class="form-actions">
  <div class="row text-center">
    <button type="submit" name="commit" class="btn green">
      <i class="fa fa-save"></i> Salvar
    </button>
  </div>
</div>
    <script>
      $(document).ready(function(){
        $("#student_register_number").mask("999-99999");
      });

      function validarCampos(){
        if($("#student_register_number").val().length < 9){
          alert('Preencha corretamente a matricula.');
          return false;
        }
      }
    </script>
<% end %>